<section class="section-picture-box">
    <div class="container">
        <h2>Picture Boxes</h2>
        <div class="picture_box_row">
            <div class="picture_box_column">
                <div class="picture_box_img">
                    <img src="assets/img/matching-img-1.png" alt="img">
                </div>
                <div class="picture_box_content">

                    <a href="matching-details.html">
                        <div class="nick-name-details">
                            <h3>Nick Name</h3>
                            <img src="assets/img/shield-check-icon-2.png" alt="">
                        </div>
                        <hr>
                        <div class="nick-name-details-2">
                            <div class="user_detailse1">
                                <div>23 Years, 5'6"</div>
                                <div>New Delhi</div>
                                <div>India</div>
                                <div>Hindi-English</div>
                            </div>
                            <div class="user_detailse2">
                                <div>M.Ed, B.A, M.A</div>
                                <div>Sr.Manager / Manager</div>
                                <div>₨ 2-3 Lac</div>
                                <div>Unmarried</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="picture_box_column">
                <div class="picture_box_img">
                    <img src="assets/img/matching-img-3.png" alt="img">
                </div>
                <div class="picture_box_content">

                    <a href="matching-details.html">
                        <div class="nick-name-details">
                            <h3>Nick Name</h3>
                            <img src="assets/img/shield-check-icon-2.png" alt="">
                        </div>
                        <hr>
                        <div class="nick-name-details-2">
                            <div class="user_detailse1">
                                <div>23 Years, 5'6"</div>
                                <div>New Delhi</div>
                                <div>India</div>
                                <div>Hindi-English</div>
                            </div>
                            <div class="user_detailse2">
                                <div>M.Ed, B.A, M.A</div>
                                <div>Sr.Manager / Manager</div>
                                <div>₨ 2-3 Lac</div>
                                <div>Unmarried</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="picture_box_column">
                <div class="picture_box_img">
                    <img src="assets/img/matching-img-1.png" alt="img">
                </div>
                <div class="picture_box_content">

                    <a href="matching-details.html">
                        <div class="nick-name-details">
                            <h3>Nick Name</h3>
                            <img src="assets/img/shield-check-icon-2.png" alt="">
                        </div>
                        <hr>
                        <div class="nick-name-details-2">
                            <div class="user_detailse1">
                                <div>23 Years, 5'6"</div>
                                <div>New Delhi</div>
                                <div>India</div>
                                <div>Hindi-English</div>
                            </div>
                            <div class="user_detailse2">
                                <div>M.Ed, B.A, M.A</div>
                                <div>Sr.Manager / Manager</div>
                                <div>₨ 2-3 Lac</div>
                                <div>Unmarried</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="picture_box_column">
                <div class="picture_box_img">
                    <img src="assets/img/matching-img-1.png" alt="img">
                </div>
                <div class="picture_box_content">

                    <a href="matching-details.html">
                        <div class="nick-name-details">
                            <h3>Nick Name</h3>
                            <img src="assets/img/shield-check-icon-2.png" alt="">
                        </div>
                        <hr>
                        <div class="nick-name-details-2">
                            <div class="user_detailse1">
                                <div>23 Years, 5'6"</div>
                                <div>New Delhi</div>
                                <div>India</div>
                                <div>Hindi-English</div>
                            </div>
                            <div class="user_detailse2">
                                <div>M.Ed, B.A, M.A</div>
                                <div>Sr.Manager / Manager</div>
                                <div>₨ 2-3 Lac</div>
                                <div>Unmarried</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="picture_box_column">
                <div class="picture_box_img">
                    <img src="assets/img/matching-img-3.png" alt="img">
                </div>
                <div class="picture_box_content">

                    <a href="matching-details.html">
                        <div class="nick-name-details">
                            <h3>Nick Name</h3>
                            <img src="assets/img/shield-check-icon-2.png" alt="">
                        </div>
                        <hr>
                        <div class="nick-name-details-2">
                            <div class="user_detailse1">
                                <div>23 Years, 5'6"</div>
                                <div>New Delhi</div>
                                <div>India</div>
                                <div>Hindi-English</div>
                            </div>
                            <div class="user_detailse2">
                                <div>M.Ed, B.A, M.A</div>
                                <div>Sr.Manager / Manager</div>
                                <div>₨ 2-3 Lac</div>
                                <div>Unmarried</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="picture_box_column">
                <div class="picture_box_img">
                    <img src="assets/img/matching-img-1.png" alt="img">
                </div>
                <div class="picture_box_content">
                    <a href="matching-details.html">
                        <div class="nick-name-details">
                            <h3>Nick Name</h3>
                            <img src="assets/img/shield-check-icon-2.png" alt="">
                        </div>
                        <hr>
                        <div class="nick-name-details-2">
                            <div class="user_detailse1">
                                <div>23 Years, 5'6"</div>
                                <div>New Delhi</div>
                                <div>India</div>
                                <div>Hindi-English</div>
                            </div>
                            <div class="user_detailse2">
                                <div>M.Ed, B.A, M.A</div>
                                <div>Sr.Manager / Manager</div>
                                <div>₨ 2-3 Lac</div>
                                <div>Unmarried</div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>