<footer>
    <div class="footer-links" id="mobile-footer-links">
        <div class="container">
            <div class="row">
                <button id="close-mobile-footer-links">+</button>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="logo-footer">
                        <img src="assets/img/logo2-1.png" alt="logo" title="logo">
                        <a href="javascript:;">Live help</a>
                        <div class="socal-footer">
                            <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                            <a href="javascript:;"><i class="fab fa-youtube"></i></a>
                            <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="link-col">
                        <h4>Need Help</h4>
                        <ul>
                            <li><a href="javascript:;" [routerLink]="['/visitor/login']">Login</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/registrationStep-1']">Sign Up</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/home']">How to Use WeddingApp</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/packages']">Premium Memberships</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/home']" id="partner_search">Partner Search</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/home']">Customer Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="link-col">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="javascript:;" [routerLink]="['/visitor/aboutUs']">About Us</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/blogs']">Our Blog</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/careers']">Careers</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/home']">Awards & Recognition</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/contactUs']">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="link-col">
                        <h4>Privacy & You</h4>
                        <ul>
                            <li><a href="javascript:;" [routerLink]="['/visitor/termsOfUse']">Terms of Use</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/privacyPolicy']">Privacy Policy</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/home']">Be Safe Online</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/home']">Report Misuse</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/contactUs']">Our centres</a></li>
                            <li><a href="javascript:;" [routerLink]="['/visitor/successStories']">Success Stories</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="copyright">
                        <h4>© 2020 Wedding APP. All right reserved</h4>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="footer-socal">
                        <a href="javascript:;"><img src="assets/img/amex.png" alt="amex image" title="amex"></a>
                        <a href="javascript:;"><img src="assets/img/paypal.png" alt="paypal" title="paypal"></a>
                        <a href="javascript:;"><img src="assets/img/visa.png" alt="visa" title="visa"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-footer">
        <div class="container" style="padding: 0px 5px;">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="user-profile-links">
                        <div class="inbox">
                            <a href="javascript:;" [routerLink]="['/visitor/home']">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </div>
                        <div class="my-matches">
                            <a href="javascript:;" [routerLink]="['/visitor/aboutUs']">
                                <i class="fa fa-user"></i>
                                About Us
                            </a>
                        </div>
                        <div class="search-profile">
                            <a href="javascript:;" [routerLink]="['/visitor/store']">
                                <i class="fa fa-cart-plus"></i>
                                Store
                            </a>
                        </div>
                        <div class="all-links-menu">
                            <a href="javascript:;" [routerLink]="['/visitor/login']">
                                <i class="fas fa-unlock-alt"></i>
                                Login
                            </a>
                            <!--<a href="javascript:;" id="other_links">Menu </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="wedding_music_wrap">
    <div class="wedding_music">
        <h5 class="close_songs" title="close">+</h5>
        <div class="music-1">
            <audio controls class="autoplay">
                <source src="assets/songs/maana-dil.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="music-1">
            <audio controls class="autoplay">
                <source src="assets/songs/bekhayali-kabir-singh.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="music-1">
            <audio controls class="autoplay">
                <source src="assets/songs/teri-mitti.mp3" type="audio/mp3">
            </audio>
        </div>
        <div class="music-1">
            <audio controls class="autoplay">
                <source src="assets/songs/yaad-piya-ki-aane-lagi-mp3-song-download.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="music-1">
            <audio controls class="autoplay">
                <source src="assets/songs/tu-hi-yaar-mera.mp3" type="audio/mpeg">
            </audio>
        </div>
        <div class="music-1">
            <audio controls class="autoplay">
                <source src="assets/songs/bada-pachtaoge-mp3-song-download.mp3" type="audio/mpeg">
            </audio>
        </div>
    </div>
</div>


<div class="whatsapp">
    <a href="javascript:;">
        <img src="assets/img/whatsapp.jpg" alt="whatsapp" title="whatsapp">
    </a>
</div>
<div class="massege">
    <a href="javascript:;">
        <img src="assets/img/massege.jpg" alt="massege" title="massege">
    </a>
</div>
<div class="music">
    <a href="javascript:;">
        <i class="fas fa-volume-up"></i>
    </a>
</div>
<div class="email">
    <a href="javascript:;">
        <i class="far fa-envelope"></i>
    </a>
</div>

<div class="arrow_up" title="go to top">
    <!-- <i class="fas fa-arrow-up"></i> -->
    <i style="color: black;" class="fa fa-chevron-up" aria-hidden="true"></i>

</div>
