<section>
    <div class="matching-container">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="left-aside">
                        <h2>A.n.s kumari</h2>

                        <ul>
                            <li>
                                <a href="inbox.html" target="_blank" >
                                    <i class="far fa-bell" aria-hidden="true"></i>
                                    <span>Inbox</span>
                                    <span class="all-inbox">1</span>
                                </a>
                            </li>
                            <li>
                                <a href="matching.html" target="_blank">
                                    <i class="fas fa-users" aria-hidden="true"></i>
                                    <span>My Matches</span>
                                </a>
                            </li>
                            <li>
                                <a href="my-favourite.html" target="_blank" class="active-link" >
                                    <i class="fas fa-heart" aria-hidden="true"></i>
                                    <span>My Favourite</span>
                                </a>
                            </li>
                            <li>
                                <a href="interested.html"  target="_blank">
                                    <i class="fas fa-transgender" aria-hidden="true"></i>
                                    <span>I'M Intrested</span>
                                </a>
                            </li>
                            <li>
                                <a href="rejection.html" target="_blank">
                                    <i class="fas fa-window-close" aria-hidden="true"></i>
                                    <span>My Rejection</span>
                                </a>
                            </li>
                            <li>
                                <a href="proposal.html" target="_blank" >
                                    <i class="fas fa-envelope" aria-hidden="true"></i>
                                    <span>Proposal</span>
                                </a>
                            </li>
                            <li>
                                <a href="payment.html" target="_blank">
                                    <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                                    <span>My Payment</span>
                                </a>
                            </li>
                            <li>
                                <a href="signup-4.html">
                                    <i class="fas fa-cog" aria-hidden="true"></i>
                                    <span>Setting</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-md-12 col-sm-12 col-12">
                    <h1 class="title"><span>My Favourite</span></h1>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12">
                            <div class="aside-left">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="user-profile-pic">
                                            <a href="matching-details.html">
                                                <img src="assets/img/matching-img-1.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <a href="matching-details.html">
                                            <div class="nick-name-details">
                                                <h3>Nick Name</h3>
                                                <img src="assets/img/shield-check-icon-2.png" alt="" />
                                                <!--<span>Last seen at 12:57 pm</span>-->
                                            </div>
                                        </a>
                                        <hr />
                                        <div class="nick-name-details-2">
                                            <div class="user_detailse1">
                                                <div>23 Years, 5'6"</div>
                                                <div>New Delhi</div>
                                                <div>India</div>
                                                <div>Hindi-English</div>
                                            </div>
                                            <div class="user_detailse2">
                                                <div>M.Ed, B.A, M.A</div>
                                                <div>Sr.Manager / Manager</div>
                                                <div>&#8360; 2-3 Lac</div>
                                                <div>Unmarried</div>
                                            </div>
                                        </div>
                                        <p>
                                            Studied at Chatrapati Sahu Ji Maharaj University,
                                            Chatrapati Works at nexa service
                                        </p>
                                    </div>
                                    <div class="col-xl-2 col-12">
                                        <div class="matchings-links">
                                            <a href="#"><i class="fas fa-envelope"></i></a>
                                            <a href="#"><img src="assets/img/comment-icon.png" alt="comment-icon"></a>
                                            <a href="#" id="heart-icon"><img src="assets/img/favourite-heart-icon.png"
                                                    alt="heart-icon"></a>
                                            <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                            <a href="#" id="view-icon"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-12">
                            <div class="aside-left">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="user-profile-pic">
                                            <a href="matching-details.html">
                                                <img src="assets/img/matching-img-3.png" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">
                                        <a href="matching-details.html">
                                            <div class="nick-name-details">
                                                <h3>Nick Name</h3>
                                                <img src="assets/img/shield-check-icon-2.png" alt="" />
                                                <!--<span>Last seen at 12:57 pm</span>-->
                                            </div>
                                        </a>
                                        <hr />
                                        <div class="nick-name-details-2">
                                            <div class="user_detailse1">
                                                <div>23 Years, 5'6"</div>
                                                <div>New Delhi</div>
                                                <div>India</div>
                                                <div>Hindi-English</div>
                                            </div>
                                            <div class="user_detailse2">
                                                <div>M.Ed, B.A, M.A</div>
                                                <div>Sr.Manager / Manager</div>
                                                <div>&#8360; 2-3 Lac</div>
                                                <div>Unmarried</div>
                                            </div>
                                        </div>
                                        <p>
                                            Studied at Chatrapati Sahu Ji Maharaj University,
                                            Chatrapati Works at nexa service
                                        </p>
                                    </div>
                                    <div class="col-xl-2 col-12">
                                        <div class="matchings-links">
                                            <a href="#"><i class="fas fa-envelope"></i></a>
                                            <a href="#"><img src="assets/img/comment-icon.png" alt="comment-icon"></a>
                                            <a href="#" id="heart-icon"><img src="assets/img/favourite-heart-icon.png"
                                                    alt="heart-icon"></a>
                                            <a href="#"><i class="fas fa-thumbs-down"></i></a>
                                            <a href="#" id="view-icon"><i class="fas fa-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
