<section>
  <div class="common-section">
    <div class="container">
      <div class="row registration-step-3">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
          <div class="row">
            <div class="col-xl-3 col-l-3  borderClass">
              <div class="row">
                <div class="col-12">
                  <div class="user-profile mt-5">
                    <div class="image-box">
                      <img [src]="userImg || 'assets/img/user.png'">
                      <label class="upload-label">
                        <input type="file" name="" accept=".png, .jpg, .jpeg" (change)="onUploadChange($event)">
                        <i class="fa fa-camera"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-12 ">
                  <div class="ml-5">
                    <h2>Welcome!</h2>
                    <h4>You can edit your profile.</h4>
                  </div>
                </div>
              </div>


            </div>
            <div class="col-xl-9 col-l-9">
              <!-- <div class="row rowBorderClass">
                                <div class="headerClass">
                                    <h2>Profile Details</h2>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            asddasdasdasd
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                            asdasdassadas
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row rowBorderClass">
                                <div class="headerClass">
                                    <h2>Profile Details</h2>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row rowBorderClass">
                                <div class="headerClass">
                                    <h2>Profile Details</h2>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                            </div> -->
              <div class="accordion " id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                      </button>
                    </h2>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">First Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Email</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">Last Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Description</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">First Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Email</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">Last Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Description</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">First Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Email</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">Last Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Description</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">First Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Email</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">Last Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Description</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="true" aria-controls="collapseThree">
                        Collapsible Group Item #3
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <form>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">First Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Email</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">Last Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Description</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">First Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Email</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group row">
                              <label for="staticEmail" class="col-4 col-form-label">Last Name</label>
                              <div class="col-8">
                                <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputPassword" class="col-4 col-form-label">Description</label>
                              <div class="col-8">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
