.container{min-height:calc(100vh - 600px);}
._show_hide_faq{
    margin-bottom: 10px;
    // border-bottom: 1px solid #dcd8d8;
}
._faq_column {
    max-height: none!important;
}
.answerClass {
    border-top: 1px solid #dcd8d8 !important;
}
.mt20 {
    margin-top: 20px !important;
}