<section>
    <div class="matching-container">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="left-aside">
                        <h2>A.n.s kumari</h2>

                        <ul>
                            <li>
                                <a href="inbox.html" target="_blank"  class="active-link" >
                                    <i class="far fa-bell" aria-hidden="true"></i>
                                    <span>Inbox</span>
                                    <span class="all-inbox">1</span>
                                </a>
                            </li>
                            <li>
                                <a href="matching.html" target="_blank">
                                    <i class="fas fa-users" aria-hidden="true"></i>
                                    <span>My Matches</span>
                                </a>
                            </li>
                            <li>
                                <a href="my-favourite.html" target="_blank" >
                                    <i class="fas fa-heart" aria-hidden="true"></i>
                                    <span>My Favourite</span>
                                </a>
                            </li>
                            <li>
                                <a href="interested.html"  target="_blank">
                                    <i class="fas fa-transgender" aria-hidden="true"></i>
                                    <span>I'M Intrested</span>
                                </a>
                            </li>
                            <li>
                                <a href="rejection.html" target="_blank">
                                    <i class="fas fa-window-close" aria-hidden="true"></i>
                                    <span>My Rejection</span>
                                </a>
                            </li>
                            <li>
                                <a href="proposal.html" target="_blank" >
                                    <i class="fas fa-envelope" aria-hidden="true"></i>
                                    <span>Proposal</span>
                                </a>
                            </li>
                            <li>
                                <a href="payment.html" target="_blank">
                                    <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                                    <span>My Payment</span>
                                </a>
                            </li>
                            <li>
                                <a href="signup-4.html">
                                    <i class="fas fa-cog" aria-hidden="true"></i>
                                    <span>Setting</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-md-12 col-sm-12 col-12">
                    <h1 class="title"><span>All notification</span></h1>
                    <a href="#!" class="notification">
                        <p>
                            You have get new proposal from XXXXXXXX.
                        </p>
                        <small>01-22-2020, 4:18</small>
                    </a>
                    <a href="#!" class="notification">
                        <p>
                            Your proposal rejected by XXXXXXXX.
                        </p>
                        <small>01-22-2020, 4:18</small>
                    </a>
                    <a href="#!" class="notification">
                        <p>
                            You proposal accpeted by XXXXXXXX.
                        </p>
                        <small>01-22-2020, 4:18</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>