<section>
    <div class="common-section">
        <div class="container">
            <div class="about-wedding-app">
                <div class="wedding_app">
                    <h1 style="font-size:24px;"><span>Privacy Policy</span></h1>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <div class="about_content">
                            <p  [innerHTML] = "privacyPolicy"></p>   
                        
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-5">
                        <div class="signup-page-1">
                            <h4>Sign up</h4>
                            <form>
                                <input type="text" placeholder="Full Name*" name="user-name" required="" />
                                <input type="tel" placeholder="Mobile Number*" name="user-mob" required="" />
                                <input type="text" placeholder="Create Profile for*" name="profile-for"
                                    required="" />
                                <input type="password" placeholder="Create New Password*" name="user-pass"
                                    required="" id="creat-pass" />
                                <i id="show-pass" class="far fa-eye-slash" title="view password"
                                    aria-hidden="true"></i><span class="sr-only">view password</span>
                                <i id="none-pass" class="far fa-eye" title="hide password"
                                    aria-hidden="true"></i><span class="sr-only">hide password</span>
                                <button type="submit">REGISTER</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>