<section>
    <div class="section-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h1>Millions have found their life partner here!</h1>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="section-3-column">
                        <img src="assets/img/column-img-1.jpg" alt="success storie image" title="success storie image">
                        <h4>Mohammad &amp; Fatima</h4>
                        <p>I found a companion for my adventures, on Wdding APP</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="section-3-column">
                        <img src="assets/img/column-img-1.jpg" alt="success storie image" title="success storie image">
                        <h4>Mohammad &amp; Fatima</h4>
                        <p>I found a companion for my adventures, on Wdding APP</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="section-3-column">
                        <img src="assets/img/column-img-1.jpg" alt="success storie image" title="success storie image">
                        <h4>Mohammad &amp; Fatima</h4>
                        <p>I found a companion for my adventures, on Wdding APP</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="section-3-column">
                        <img src="assets/img/column-img-1.jpg" alt="success storie image" title="success storie image">
                        <h4>Mohammad &amp; Fatima</h4>
                        <p>I found a companion for my adventures, on Wdding APP</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="section-3-column">
                        <img src="assets/img/column-img-1.jpg" alt="success storie image" title="success storie image">
                        <h4>Mohammad &amp; Fatima</h4>
                        <p>I found a companion for my adventures, on Wdding APP</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="section-3-column">
                        <img src="assets/img/column-img-1.jpg" alt="success storie image" title="success storie image">
                        <h4>Mohammad &amp; Fatima</h4>
                        <p>I found a companion for my adventures, on Wdding APP</p>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="register-free">
                        <h4>Now it is your turn to be happily married</h4>
                        <a href="signup-1.html">Register Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>