.signup-page-1 {
    padding: 10px 0px;
}

.signup-page-1 h4 {
    margin: 0;
}

i#show-pass {
    bottom: 22%;
}

i#none-pass {
    bottom: 22%;
}

.section-3 .section-3-column {
    margin: 15px 0px;
}

.section-3 {
    padding: 170px 0px 40px 0px;
}
.section-3 h1 {
text-align: center;
font-size: 30px;
margin: 10px 0px 50px 0px;
color: #222;
}