<section>
    <div class="common-section">
        <div class="container">
            <div class="row">
                <div class="about-wedding-app">
                    <div class="wedding_app">
                        <h2><span>Careers</span></h2>
                    </div>
                    <div class="row" style="margin-right:0;margin-left: 0;">
                        <div class="col-xl-9 col-md-8 col-sm-12 col-12">
                            <div class="career">
                                <div class="career-column">
                                    <h2>35 Million</h2>
                                    <p>Active User</p>
                                </div>
                                <div class="career-column">
                                    <h2>10 Million</h2>
                                    <p>App Downloads</p>
                                </div>
                                <div class="career-column">
                                    <h2>6 Million</h2>
                                    <p>Success Stories</p>
                                </div>
                                <div class="career-column">
                                    <h2>2 Million</h2>
                                    <p>Social Followers</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-7">
                                    <div class="career-img">
                                        <img src="assets/img/career-image-1.jpg" alt="career image" title="career image" />
                                    </div>
                                </div>
                                <div class="col-xl-5">
                                    <div class="career-img">
                                        <img src="assets/img/career-image-2.jpg" alt="career image" title="career image" />
                                        <img src="assets/img/career-image-3.jpg" alt="career image" title="career image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4  col-sm-12 col-12">
                            <div class="signup-page-1">
                                <h4>Sign up</h4>
                                <form>
                                    <input type="text" placeholder="Full Name*" name="user-name" required="" />
                                    <input type="tel" placeholder="Mobile Number*" name="user-mob" required="" />
                                    <input type="text" placeholder="Create Profile for*" name="profile-for"
                                        required="" />
                                    <input type="password" placeholder="Create New Password*" name="user-pass"
                                        required="" id="creat-pass" />
                                    <i id="show-pass" class="far fa-eye-slash" title="view password"
                                        aria-hidden="true"></i><span class="sr-only">view password</span>
                                    <i id="none-pass" class="far fa-eye" title="hide password"
                                        aria-hidden="true"></i><span class="sr-only">hide password</span>
                                    <button type="submit">REGISTER</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>