<section>
    <div class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h6>Wedding App <span>Blogs</span></h6>
                </div>
                <div class="col-xl-9">
                    <div class="blog_row">
                        <a href="blog-details.html" class="blog_column">
                            <div class="blog_img">
                                <img src="assets/img/matching-img-1.png" alt="matching image" title="matching image" />
                            </div>
                            <div class="blog-column-content">
                                <h3>Top 5 Indian Wedding Trends To Behold In 2018</h3>
                            </div>
                            <div>
                                <span><i class="far fa-clock"></i>2019-02-12</span>
                            </div>
                            <p> What will your future be like? How compatible will you be with your partner? How many ‘gunas’ will match with your prospective partner? Well, marriage is a vital decision in </p>
                            <button>Read more</button>
                        </a>
                        <a href="blog-details.html" class="blog_column">
                            <div class="blog_img">
                                <img src="assets/img/matching-img-1.png" alt="matching image" title="matching image" />
                            </div>
                            <div class="blog-column-content">
                                <h3>Top 5 Indian Wedding Trends To Behold In 2018</h3>
                            </div>
                            <div>
                                <span><i class="far fa-clock"></i>2019-02-12</span>
                            </div>
                            <p> What will your future be like? How compatible will you be with your partner? How many ‘gunas’ will match with your prospective partner? Well, marriage is a vital decision in </p>
                            <button>Read more</button>
                        </a>
                        <a href="blog-details.html" class="blog_column">
                            <div class="blog_img">
                                <img src="assets/img/matching-img-1.png" alt="matching image" title="matching image" />
                            </div>
                            <div class="blog-column-content">
                                <h3>Top 5 Indian Wedding Trends To Behold In 2018</h3>
                            </div>
                            <div>
                                <span><i class="far fa-clock"></i>2019-02-12</span>
                            </div>
                            <p> What will your future be like? How compatible will you be with your partner? How many ‘gunas’ will match with your prospective partner? Well, marriage is a vital decision in </p>
                            <button>Read more</button>
                        </a>
                        <a href="blog-details.html" class="blog_column">
                            <div class="blog_img">
                                <img src="assets/img/matching-img-1.png" alt="matching image" title="matching image" />
                            </div>
                            <div class="blog-column-content">
                                <h3>Top 5 Indian Wedding Trends To Behold In 2018</h3>
                            </div>
                            <div>
                                <span><i class="far fa-clock"></i>2019-02-12</span>
                            </div>
                            <p> What will your future be like? How compatible will you be with your partner? How many ‘gunas’ will match with your prospective partner? Well, marriage is a vital decision in </p>
                            <button>Read more</button>
                        </a>
                        <a href="blog-details.html" class="blog_column">
                            <div class="blog_img">
                                <img src="assets/img/matching-img-1.png" alt="matching image" title="matching image" />
                            </div>
                            <div class="blog-column-content">
                                <h3>Top 5 Indian Wedding Trends To Behold In 2018</h3>
                            </div>
                            <div>
                                <span><i class="far fa-clock"></i>2019-02-12</span>
                            </div>
                            <p> What will your future be like? How compatible will you be with your partner? How many ‘gunas’ will match with your prospective partner? Well, marriage is a vital decision in </p>
                            <button>Read more</button>
                        </a>
                        <a href="blog-details.html" class="blog_column">
                            <div class="blog_img">
                                <img src="assets/img/matching-img-1.png" alt="matching image" title="matching image" />
                            </div>
                            <div class="blog-column-content">
                                <h3>Top 5 Indian Wedding Trends To Behold In 2018</h3>
                            </div>
                            <div>
                                <span><i class="far fa-clock"></i>2019-02-12</span>
                            </div>
                            <p> What will your future be like? How compatible will you be with your partner? How many ‘gunas’ will match with your prospective partner? Well, marriage is a vital decision in </p>
                            <button>Read more</button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="signup-page-1">
                        <h4>Sign up</h4>
                        <form>
                            <input type="text" placeholder="Full Name*" name="user-name" required="" />
                            <input type="tel" placeholder="Mobile Number*" name="user-mob" required="" />
                            <input type="text" placeholder="Create Profile for*" name="profile-for" required="" />
                            <input type="password" placeholder="Create New Password*" name="user-pass" required="" id="creat-pass" />
                            <i id="show-pass" class="far fa-eye-slash" title="view password" aria-hidden="true"></i><span class="sr-only">view password</span>
                            <i id="none-pass" class="far fa-eye" title="hide password" aria-hidden="true"></i><span class="sr-only">hide password</span>
                            <button type="submit">REGISTER</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>