.signup-page-1 {
    padding: 15px 15px;
    margin: 15px 0px 10px;
}

.signup-page-1 form button {
    width: 100%;
    margin-top: 10px;
}

i#show-pass {
    bottom: 22%;
}

i#none-pass {
    bottom: 22%;
}

.product-bg {
    padding: 12px;
    box-shadow: 0px 0px 10px 0px #0000001f;
    margin-bottom: 25px;
}